<div class="tela-choco">
  <div class="converter-ordem">
    <div class="banner">
      <img src="https://www.cacaushow.com.br/on/demandware.static/-/Sites-siteCatalog_CacauShow/default/dw121092d2/Site_Desktop_Vitrine_Chocolates-Diversos_v1.jpg" alt="banner-chocolate">
    </div>
    <div class="hero">
      <h1>Nossas Marcas</h1>
      <p>Para todos os gostos, para todos os paladares, a Cacau Show tem os chocolates perfeitos para cada momento do seu dia. Desde aquele doce que remete á infância, passando pela cremosidade do ao leite e até ao poder do intenso. Aqui, temos todos os elementos que irão apaixonar você desde a primeira mordida!</p>
    </div>
  </div>
  <div class="bar-filter">
    <div class="bar-vazio"></div>
    <div class="grid-produtos">
      <div class="grid-item" *ngFor="let choco of marcas">
        <div class="badge">
          <i class="pi pi-heart"></i>
        </div>

        <img [src]="choco.foto">
        <p class="label-produto">{{ choco.nome }}</p>
        <p class="label-promo" *ngIf="choco.promocao != null">R$ {{ choco.promocao }}</p>
        <p class="label-valor">R$ {{ choco.valor }}</p>
        <button *ngIf="estaLogado()" pButton pRipple label="Adicionar ao carrinho" (click)="colocarNoCarrinho(choco)"></button>
      </div>
    </div>
  </div>
</div>

<p-messages />
