.custom-block {
  display: flex;
  flex-direction: column;
  background-color: #EFF3F8;
  min-height: 100vh;
  width: 100%;

  app-topbar{width:100%;}

  .painel-conteudo {
    flex-grow: 1;
    overflow-x: hidden;
    height: 100%;
  }
}

:host ::ng-deep {

  .p-messages {
    width: fit-content;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 11000;
  }

}
