.custom-block {
  display: flex;
  flex-direction: column;
  background-color: #EFF3F8;
  min-height: 100vh;
  width: 100%;

  app-topbar{width:100%;}

  .painel-conteudo {
    flex-grow: 1;
    overflow-x: hidden;
    height: 100%;
  }
}

:host ::ng-deep {
  .p-messages {
    width: fit-content;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 11000;
  }

  .p-scrolltop.p-link {
    background: transparent;
    border: 1px solid #532e22;
  }

  .p-scrolltop .p-scrolltop-icon {
    color: #532e22;
  }
}
